/* Import Global Variables */
@import "~src/variables";

/* Main Section */
section {
  min-height:100vh;
}

.main-container {
  width:62%;
  text-align: center;
}

.no-input {
  position: absolute;
  top:38%;
  left:50%;
  transform: translate(-50%,-50%);
}

.input {
  position: relative;
  margin: 80px auto 0 auto;
}

.input {
  position:relative;
}

h1 {
  margin-bottom:$margin-space;
}

strong {
  font-size: 100%;
}

.technologies-icons {
  margin-top:$margin-space;
}
