<!-- Main Section -->
<section class="main-container">
  <div class="title">
    <h1>Sikandar Ali's Documentation Finder</h1>
  </div>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search..."/>
    </form>
  </div>
  <div class="technologies-icons">
    <img src="./assets/img/javascript.png"/>
    <img src="./assets/img/angular.png"/>
    <img src="./assets/img/firebase.png"/>
    <img src="./assets/img/react.png"/>
  </div>
</section>
<!-- Footer Section -->
<app-footer></app-footer>
