/* Import Global Variables */
@import "~src/variables";

/* Search Bar */
.search-container input {
  width: 85%;
}

input {
  color: #2A2A2A;
  padding:28px 28px 28px 45px;
  border-width: 1px;
  border-style: solid;
  border-color: #898989;
  background-color: $secondary-color;
  font-size: 130%;
  border-radius: 3px;
}

input::placeholder {
  color: #BBBBBB;
}

@keyframes LoadingBar {
  0%  { transform: translateX(-102%) }
  45% { transform: translateX(0) }
  55% { transform: translateX(0) }
  90% { transform: translateX(102%) }
  100% { transform: translateX(102%) }
}

.loading-bar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin:auto;
  width: 80%;
  height: 2px;
  overflow-x: hidden;
  background-color: powderblue; /* use px color $primary-light */
}

.loading-bar:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 102%;
  background-color: steelblue; /* use px color $primary-default */
  animation: LoadingBar 1.5s cubic-bezier(.5,.01,.51,1) infinite;
}
