/* Import Global Variables */
@import "~src/variables";

/* Global Styles */
* {
  font-size:20px;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin:0;
}

h1 {
  font-weight: 300;
  font-size:170%;
  color:$primary-color;
}
